/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 20px 0px 75px;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);

}

#flash-messages {
    position: fixed;
    top: 100px;
    /* Отступ сверху, равный высоте шапки */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    /* Больше, чем у header */
    width: 90%;
    max-width: 600px;
}

.header_img {
    max-height: 50px;
    width: auto;
}

.about_img_div {
    display: flex;
    width: 100%;
    padding: 15px;
}

.card {
    width: 260px;
    margin: 0 auto;
}

.about_img {
    width: 225px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.footer_img {
    height: 32px;
    width: 32px;
}

.footer_tg_img {
    height: 32px;
    width: 32px;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
    padding: 100px 0 20px 0;
}

.main-block-of-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

body {
    margin: 0;
    padding: 0;
}

.card {

    margin-right: 25px;
    margin-top: 25px;
    float: left;
}

.card:hover {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.btn {
    margin-bottom: 16px;
}

.alert-info {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    padding-left: 25px;
    background-color: #00000015;
}