{% extends 'base.html' %}

{% block title %}
Автор
{% endblock %}


{% block content %}
<h1>Автор</h1>


<div class="card" >
   <div class="about_img_div">
    <img class="about_img" src="{{ url_for('static', filename='static/img/panyuta_photo.JPG')}}" alt="law">
    </div>
  <div class="card-body">
    <h5 class="card-title">Панюта Дмитрий Дмитриевич</h5>
    <p class="card-text">Студент группы ИБб-24-1</p>
    <p class="card-text">Институт информационных технологий и анализа данных</p>
    <p class="card-text">Иркутский национальный исследовательский технический университет</p>
  </div>
</div>


{% endblock %}